{% extends 'layout.twig' %}
{% block content %}
<section id="adminLoginSection">
    <h2>Admin Login</h2>

    {% for message in flash.message("dismissableSuccess") %}
        <p class="dismissableSuccess">{{ message }} <button class="closeButton">x</button></p>
    {% endfor %}
    {% for message in flash.message("dismissableFail") %}
        <p class="dismissableFail">{{ message }} <button class="closeButton">x</button></p>
    {% endfor %}

    <form action="{{ path_for("adminLogin") }}" method="post" id="loginForm">
        <fieldset>

            <legend>Enter Login Details</legend>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br>
            
            <input type="submit" id="submit" name="submit" value="Login">
        </fieldset>
    </form>
</section>
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="resources/js/dismissMessages.js"></script>
{% endblock %}
