<!DOCTYPE html>
<html>
<head>
    <title>Custom URL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="resources/images/favicon.ico">
    <link rel="stylesheet" href="resources/stylesheets/normalize.css">
    <link rel="stylesheet" href="resources/stylesheets/main.css">
    <link rel="stylesheet" href="resources/stylesheets/responsive.css">
</head>
<body>
    <div id="wrapper">
        <header>
            <h1><a href="{{ path_for('home') }}">Custom URL Creator</a></h1>
        </header>

        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <p>&copy; {{ "now"|date("Y") }} Hanley Chan</p>
    </footer>
    {% block scripts %}
    {% endblock %}
</body>
</html>

