/**
 * Main styles
 */
div#wrapper {
  min-width: 320px;
  max-width: 940px;
  margin: 0 auto; }

header h1 {
  margin: 2%;
  font-size: 1.5em; }
  header h1 a {
    color: #226688;
    text-decoration: none; }
  header h1 a:hover {
    color: #cc0000; }

h2 {
  margin: 2%; }

section {
  margin: 2%; }

p#link {
  margin-left: 2%; }
  p#link a {
    color: #0000cc;
    text-decoration: none;
    font-weight: bold;
    border: solid 1px black;
    border-radius: 20px;
    display: inline-block;
    padding: 20px;
    background-color: #ccddff; }
  p#link a:hover {
    background-color: #ffd24d; }

p.success {
  color: #009900; }

p.fail {
  color: #ff3333; }

table.smallTable, table.bigTable {
  width: 95%;
  margin: 20px auto;
  padding: 0;
  table-layout: fixed;
  font-size: 0.8em; }
  table.smallTable caption, table.bigTable caption {
    font-weight: bold;
    font-size: 1.4em; }
  table.smallTable tr.blankRow, table.bigTable tr.blankRow {
    height: 20px;
    border-style: none; }
    table.smallTable tr.blankRow td, table.bigTable tr.blankRow td {
      border-style: none; }
  table.smallTable th, table.bigTable th {
    text-align: left; }
  table.smallTable td, table.bigTable td, table.smallTable th, table.bigTable th, table.smallTable tr, table.bigTable tr {
    border: solid 1px black; }
  table.smallTable td, table.bigTable td {
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap; }
    table.smallTable td a, table.bigTable td a {
      text-decoration: none;
      color: #0000cc;
      display: inline-block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
      padding: 5px 5px;
      box-sizing: border-box; }
    table.smallTable td a:hover, table.bigTable td a:hover {
      background-color: pink; }
  table.smallTable td.rank, table.bigTable td.rank, table.smallTable td.hits, table.bigTable td.hits, table.smallTable td.added, table.bigTable td.added, table.smallTable td.noData, table.bigTable td.noData {
    padding: 5px; }
  table.smallTable td.noData, table.bigTable td.noData {
    font-weight: bold; }
  table.smallTable th, table.bigTable th {
    padding: 5px;
    width: 25%; }

table.bigTable {
  display: none;
  font-size: 1em; }
  table.bigTable tr:nth-child(even) {
    background-color: #eeeeee; }
  table.bigTable .rank {
    width: 5%; }
  table.bigTable .fullURL {
    width: 40%; }
  table.bigTable .customURL {
    width: 40%; }
  table.bigTable .hits {
    width: 10%; }
  table.bigTable .noData {
    padding: 10px; }

footer {
  text-align: center; }

/**
 * Home page styles
 */
form#addWebsite, form#filterResultsForm, form#loginForm {
  width: 96%;
  margin: 0 auto; }
  form#addWebsite label, form#filterResultsForm label, form#loginForm label {
    display: inline-block;
    width: 150px;
    margin: 5px 0; }
  form#addWebsite input[type="text"], form#filterResultsForm input[type="text"], form#loginForm input[type="text"] {
    display: block;
    width: 90%; }
  form#addWebsite input[type="submit"], form#filterResultsForm input[type="submit"], form#loginForm input[type="submit"] {
    margin-top: 10px; }
  form#addWebsite fieldset, form#filterResultsForm fieldset, form#loginForm fieldset {
    border: solid 2px black; }

/**
 * All results page styles
 */
form#filterResultsForm label, form#loginForm label {
  width: 90px; }
form#filterResultsForm input[type="text"], form#loginForm input[type="text"] {
  display: initial;
  width: initial; }

div#paginationBig {
  display: none; }
  div#paginationBig a {
    text-decoration: none;
    color: #0000cc; }
  div#paginationBig span.page {
    display: inline-block;
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px;
    min-width: 25px;
    text-align: center; }
  div#paginationBig span.page:hover {
    background-color: #ffff80; }
  div#paginationBig span#currentPage {
    font-weight: bold;
    background-color: #ff8533; }
  div#paginationBig p {
    margin-left: 2%; }

div#paginationSmall {
  margin: 0 auto;
  display: block;
  text-align: center; }
  div#paginationSmall a {
    text-decoration: none; }
  div#paginationSmall img {
    vertical-align: middle; }

/**
 * Admin login page styles
 */
