{% extends 'layout.twig' %}

{% block content %}
<h2>Error</h2>
<section id="errorSection">
    {% if flash.messages['fail'] %}
        {% for message in flash.messages['fail'] %} 
            <p class="fail">{{ message }}</p>
        {% endfor %}
    {% else %}
        <p class="fail">This is an invalid page</p>
    {% endif %}
    <p><a href="{{ path_for('home') }}">Return to homepage</a></p>
</section>
{% endblock %}
