{% extends 'layout.twig' %}

{% block content %}
<section id="errorSection">
<h2>Error</h2>
    {% if flash.messages['fail'] or flash.messages['adminLoginFail'] %}
        {% for message in flash.messages['fail'] %} 
            <p class="fail">{{ message }}</p>
        {% endfor %}
        {% for message in flash.messages['adminLoginFail'] %}
            <p class="fail">{{ message }}</p>
        {% endfor %}
    {% else %}
        <p>This is an invalid page</p>
    {% endif %}
    <p><a href="{{ path_for('home') }}" id="returnHome">Return to homepage</a></p>
</section>
{% endblock %}
